
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Placeholder Shopping Cart</title>
<link rel="stylesheet" href="./css/javajam.css" />

</head>

<body>

<div class="container">
  <div class="content">
    <h1>Placeholder Shopping Cart Page</h1>
    <p>This page is intended to be a placeholder for an actual shopping cart page. <br />
    </p>
    <p>If this were an actual shopping cart page, it would be displayed by a server-side script which would generate a web page that includes at a minimum the following: </p>
    <ul>
      <li>name of each item selected</li>
      <li> quantity of each item selected</li>
      <li>price of each item selected</li>
      <li>the cost before any shipping fees and/or sales tax)</li>
      <li>a button or hyperlink to place an order</li>
    </ul>
    <p>&nbsp;</p>
    <form action="#">
<input type="button" value = "Continue Shopping" onclick="javascript:history.go(-1)" />
</form>
    <p>&nbsp;</p>
  <!-- end .content --></div>
  <!-- end .container --></div>
</body>
</html>
