<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavJam Coffee House - Gear</title>
    <link rel="stylesheet" href="./css/javajam.css" />
  </head>
  <body>
    <div id="wrapper">
        <header class="header-flex">
            <img id="header-image" src="./images/javajammini.jpg" width="175" height="128" alt="JavaJam Logo">
            <h1>JavaJam Coffee House</h1>
          </header>
      <div class="flex-container">
      <nav>
        <ul>
<!--          <li>-->
<!--            <a href="index.html">Home</a>-->
<!--          </li>-->
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/gear">Gear</a></li>
        </ul>
      </nav>
      <main>
        <div id="herocouch"></div>
        <h2>JavaJam Gear</h2>
        <div class="item">
            <h3>JavJam Shirt</h3>
            <img class="gear-item"
              src="./images/javashirt.jpg"
              width="200"
              height="186"
              alt="JavaJam T-Shirt"
            />
            <p>
              JavaJam shirts are comfortable to wear to school and around town.
              100% cotton. XL only. $14.95
            </p>
            <br><br>
            <form method="post" action="cart.html">
              <input class="btn-addToCart" type="submit" value="Add to Cart" />
            </form>
          </div>
  
          <div class="item">
            <h3>JavaJam Mug</h3>
            <img class="gear-item"
              src="./images/javamug.jpg"
              width="200"
              height="186"
              alt="JavaJam T-Shirt"
            />
            <p>
              JavaJam mugs carry a full load of caffeine (12 oz.) to jump-start
              your morning. $9.95
            </p>
            <br><br>
            <form method="post" action="cart.html">
              <input class="btn-addToCart" type="submit" value="Add to Cart" />
            </form>
          </div>
      </main>
      </div>
      <footer>
        <br />
        Copyright &copy; 2020 JavaJam Coffee House <br />Email:
        <a href="mailto:supportteam@jjch.com">shankar@ghimire.com</a>
      </footer>
    </div>
  </body>
</html>
