<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavJam Coffee House - Jobs</title>
    <link rel="stylesheet" href="./css/javajam.css" />
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>JavaJam Coffee House</h1>
        </header>
        <nav>
            <!-- <ul>
                <li> <a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="music.html">Music</a></li>
                <li><a href="jobs.html">Jobs</a></li>
            </ul> -->
        </nav>
        <main>
            <h3>We will be contacting you soon!</h3>
            <h3>Here is the information you entered</h3>
                
                <br><br><br>
                <form action="index.html">
                    <input type="submit" action="index.html" value="Back">
                </form>
                
                
        </main>
        <footer>
           <br> Copyright &copy; 2020 JavaJam Coffee House
            <br>Email: 
            <a href="mailto:supportteam@jjch.com">shankar@ghimire.com</a>
        </footer>
    </div>
</body>
</html>