<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavJam Coffee House - Music</title>
    <link rel="stylesheet" href="./css/javajam.css" />
</head>
<body>
    <div id="wrapper">
        <header class="header-flex">
            <img id="header-image" src="./images/javajammini.jpg" width="175" height="128" alt="JavaJam Logo">
            <h1>JavaJam Coffee House</h1>
          </header>
        <div class="flex-container">
        <nav>
            <ul>
<!--                <li>-->
<!--                    <a href="index.html">Home</a>-->
<!--                </li>-->
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/gear">Gear</a></li>
            </ul>
        </nav>
        <main>
            <div id="heroguitar"></div>
            <h2> Music at JavaJam</h2>
            <p>The first Friday night each month at JavaJam is a special night.
                Join us from 8 pm to 11 pm for some music you won’t want to
                miss!</p>
            <h4>January Music Performance:</h4> 
           
            <div class="details">
               <a href="./images/melanie.jpg"><img class="floatleft" src="./images/melaniethumb.jpg" alt="Melanie Thumb" width="80" height="80"></a>Melanie Morris entertains with her melodic folk style.                  
            </div>
            <h4>February Music Performance:</h4>  
            
            <div class="details">
                <a href="./images/greg.jpg"><img class="floatleft" src="./images/gregthumb.jpg" alt="Greg Thumb" width="80" height="80"></a>Tahoe Greg is back from his tour. New songs. New stories.
            </div>
        </main>
        </div>
        <footer>
           <br> Copyright &copy; 2020 JavaJam Coffee House
            <br>Email: 
            <a href="mailto:supportteam@jjch.com">shankar@ghimire.com</a>
        </footer>
    </div>
</body>
</html>